<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<title>Not signed in</title>
	<meta name="robots" content="noindex, nofollow" />
	<meta name="author" content="Assanka" />
	<style type="text/css">
	body { text-align: center; margin: 0; padding: 10px; font-family: "Gill Sans", Trebuchet MS, sans-serif; color: #555; font-size: 14px; line-height: 160%;}
	div.errcontentcontainer { width:720px; text-align:left; margin: 20px auto 10px auto; padding: 15px; }
	h1 { color: #a72b00; font-size: 35px; font-weight: normal; }
	h2 { font-size: 19px; margin: 25px 0 7px 0; font-weight:normal }
	p { color: #333; margin-bottom: 12px; margin-top: 0px; }
	blockquote {font-family: monospace }
	</style>
</head>
<body>
<div class="errcontentcontainer">
	<h1>You are not signed in</h1>
	<p>Access to this site is managed using Assanka Gatepass, an Assanka web service that holds information about you centrally and shares it with authorised Assanka applications.  On this visit, you could not be identified, which may be as a result of a number of things:</p>

	<h2>You refused to authorise this application</h2>
	<p>If Gatepass just asked you whether you wanted to allow this application to access your Gatepass account, and you clicked No, you can't now use this site.  If you want to change your mind, <a href="javascript:location.reload()">refresh the page</a> to be asked again.</p>
	
	<h2>Gatepass is down</h2>
	<p>It's possible that Gatepass has a technical problem, which is preventing it from processing your sign-in request.  If you consistently get this 'You are not signed in' page when you should be signed in automatically, let us know and we'll try to assist you.</p>

	<p>Alternatively, you may <a href="javascript:history.go(-1)">return to the previous page</a>.</p>

</div>

</body>
</html>