body { background: none; }

.primary-container { margin-top: 0; }

.primary-content,
.primary-content > .inner { width: 100%; padding: 0px; }

#header { border-bottom: 1px solid #E9DECF; padding-bottom: 25px; }

#page-title .bc,
#page-title .pagename { display: block !important; }
#page-title .pagename h1 { font-size: 28pt; }

embed,
object,
#cookie-consent-container,
.topAds, 
#primary-navigation, 
#primary-navigation-tools, 
#header .colright, 
.secondary-content, 
a.more-link, 
.meta-divider,
.linkButton,
.backnforth, 
#footer .gen-freestyle-ul,
.social-counter, 
.post-actions,
.backtotop,
#inferno-input,
#inferno-sortopts {
	display: none !important; 
}
