<phpunit
	bootstrap="../vendor/autoload.php"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	processIsolation="false"
	stopOnError="false"
	stopOnFailure="false"
	stopOnIncomplete="false"
	stopOnSkipped="false"
	syntaxCheck="true"
	strict="false"
	verbose="true">
	<logging>
		<log type="junit" target="../build/logs/phpunit.xml" />
		<log type="coverage-clover" target="../build/logs/coverage/clover.xml" />
		<log type="coverage-html" target="../build/logs/coverage/" charset="UTF-8" />
	</logging>
	<php>
		<includePath>.</includePath>
		<ini name="memory_limit" value="256M" />
		<ini name="error_log" value="../build/logs/error.log" />
	</php>
	<testsuites>
		<testsuite name="HTTP">
			<directory>.</directory>
		</testsuite>
	</testsuites>
</phpunit>
