
<!--@BLOCK:standardcell|printifset:data-->
<Cell ss:StyleID="<!--@styleid|default:Default-->"><Data ss:Type="<!--@datatype|default:String-->"><!--@data|encode_html--></Data><!--@comment|prepend:"<Comment><ss:Data
       xmlns=\"http://www.w3.org/TR/REC-html40\"><Font html:Face=\"Tahoma\"
        html:Size=\"8\" html:Color=\"#000000\">",append:"&#10;</Font></ss:Data></Comment>"--><!--@namedcell--></Cell>
<!--@ENDBLOCK:standardcell-->

<!--@BLOCK:comment|printifset:dummyvariable-->
<!--REVIEW:WV:20080710:Need to encode the @data with |encode_html rather than adding cdata sections as the latter can confuse MS Excel, it seems -->
<!--@ENDBLOCK:comment-->

<!--@BLOCK:emptycell|printifnotset:data--><Cell ss:StyleID="<!--@styleid|default:Default-->"/><!--@ENDBLOCK:emptycell-->
